<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="OFF">
    <!-- 全局参数 -->
    <Properties>
        <Property name="busiPattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %highlight{%-5p} %t %c{1}.%M:%L -%m%n</Property>
        <Property name="displayName">GARBAGE</Property>
    </Properties>

    <!-- 声明自定义日志级别，用于日志过滤 -->
    <!-- WARN(300) > BUSINESS(350) > INFO(400) -->
<!--    <CustomLevel name="BUSINESS" intLevel="350"/>-->

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${busiPattern}</pattern>
            </PatternLayout>
        </Console>
        <!-- 文件 每次运行程序会自动清空，由append属性决定 -->
        <File name="error" fileName="./logs/${displayName}_error.log" append="false">
            <!-- 指定error 级别的日志 -->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <logger name="com.alibaba" level="WARN"/>
        <!-- sql日志打印-->
        <logger name="com.own.garbage" level="INFO"/>
        <logger name="com.own.garbage.core.dao" level="DEBUG"/>

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</configuration>