<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="OFF">
    <!-- 全局参数 -->
    <Properties>
        <Property name="busiPattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %highlight{%-5p} %t %c{1}.%M:%L -%m%n</Property>
        <Property name="displayName">GARBAGE</Property>
    </Properties>

    <!-- 声明自定义日志级别，用于日志过滤 -->
    <!-- WARN(300) > BUSINESS(350) > INFO(400) -->
<!--    <CustomLevel name="BUSINESS" intLevel="350"/>-->

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${busiPattern}</pattern>
            </PatternLayout>
        </Console>
        <!-- 文件 每次运行程序会自动清空，由append属性决定 -->
        <File name="error" fileName="./logs/${displayName}_error.log" append="false">
            <!-- 指定error 级别的日志 -->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </File>

        <!-- 自定义日志文件 -->
        <RollingFile name="customLogFile" fileName="./logs/${displayName}_RESPONSE.log"
                     filePattern="./logs/${displayName}_%d{yyyy-MM-dd}_CUSTOM-%i.log">
            <!-- 设置过滤，保证业务日志文件里面仅保存【BUSINESS】级别的日志信息 -->
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="BUSINESS" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <pattern>${busiPattern}</pattern>
            </PatternLayout>
            <Policies>
                <!-- SizeBasedTriggeringPolicy 表示当文件大小大于指定size时，生成新的文件保存日志 -->
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <!-- TimeBasedTriggeringPolicy需要和filePattern配套使用，单位由filePattern配置的时间最小粒度确定，如{yyyy-MM-dd}最小单位是dd[天]，则会每一天新建一个文件保存日志。 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="com.alibaba" level="WARN"/>
        <logger name="com.taobao" level="WARN"/>
        <logger name="com.ohaotian" level="DEBUG"/>
        <logger name="RocketmqClient" level="WARN"/>
        <!-- sql日志打印-->
        <logger name="com.own.garbage" level="INFO"/>
        <logger name="com.own.garbage.core.dao" level="DEBUG"/>

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</configuration>